@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block {
  margin: 0 auto;
  max-width: 1100px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Oswald", sans-serif;
}

li, button {
  cursor: pointer;
}

:root {
  --black: #343434;
  --accent: #005BC1;
  --white: #FFFFFF;
}

.container {
  max-width: 100%;
}
.container .box {
  max-width: 100%;
  background-image: url(../img/backimage.png);
  background-size: cover;
}
.container .box .logo {
  position: absolute;
  top: 11px;
  left: 40px;
  width: 140px;
  height: 58px;
}
.container .box .header {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 91, 193, 0.6);
}
.container .box .header .header__list {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.container .box .header .header__list .header__item {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--white, #FFF);
}
.container .box .header .header__list .header__item:not(:first-child) {
  margin-left: 20px;
}
.container .box .content {
  overflow: hidden;
}
.container .box .content .section__fon {
  position: absolute;
  z-index: 1;
  width: 444px;
  height: 120%;
  background: rgba(0, 91, 193, 0.6);
}
.container .box .content .section {
  position: relative;
  z-index: 2;
  padding: 202px 0;
  margin-left: 190px;
}
.container .box .content .section .section__title {
  max-width: 635px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #FFF;
}
.container .box .content .section .section__subtitle {
  margin-top: 40px;
  max-width: 445px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
}
.container .box .content .section .section__btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 40px;
  padding: 15px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #FFF;
  background: transparent;
  border: 2px solid #FFF;
}
.container .box .content .section .section__btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  color: rgba(0, 91, 193, 0.6);
}
.container .project {
  position: relative;
  background-color: white;
  z-index: 2;
}
.container .project .project__container {
  padding-top: 156px;
  max-width: 100%;
}
.container .project .project__container .project__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .project .project__container .project__section .project__section-image {
  width: 100px;
  height: 13px;
}
.container .project .project__container .project__section .project__title {
  margin-left: 40px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--black, #343434);
}
.container .project .project__container .project__section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}
.container .project .project__container .project__section-container .project__section-box1 {
  background-image: url(../img/project1.png);
}
.container .project .project__container .project__section-container .project__section-box2 {
  background-image: url(../img/project2.png);
}
.container .project .project__container .project__section-container .project__section-box1, .container .project .project__container .project__section-container .project__section-box2 {
  background-size: cover;
  width: calc(50% - 15px);
  padding: 35px;
}
.container .project .project__container .project__section-container .project__section-box1 .project__text-container, .container .project .project__container .project__section-container .project__section-box2 .project__text-container {
  background: #FFF;
  position: relative;
  z-index: 3;
  margin-top: 220px;
  margin-left: 220px;
  padding: 20px 25px;
}
.container .project .project__container .project__section-container .project__section-box1 .project__text-container .project__text-title, .container .project .project__container .project__section-container .project__section-box2 .project__text-container .project__text-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: var(--black, #343434);
}
.container .project .project__container .project__section-container .project__section-box1 .project__text-container .project__text-subtitle, .container .project .project__container .project__section-container .project__section-box2 .project__text-container .project__text-subtitle {
  margin-top: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--black, #343434);
}
.container .project .project__grid-container {
  margin-top: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.container .project .project__grid-container .first__grid-item {
  background-image: url(../img/rectangle4.png);
}
.container .project .project__grid-container .second__grid-item {
  background-image: url(../img/rectangle5.png);
}
.container .project .project__grid-container .third__grid-item {
  background-image: url(../img/rectangle6.png);
}
.container .project .project__grid-container .project__grid-item {
  border: 3px solid var(--accent, #005BC1);
  background-repeat: no-repeat;
  padding-bottom: 15px;
}
.container .project .project__grid-container .project__grid-item .project__grid-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 21px;
  background: var(--accent, #005BC1);
  margin-top: 199px;
  margin-left: 85px;
  height: 86px;
}
.container .project .project__grid-container .project__grid-item .project__grid-text .project__grid-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: var(--white, #FFF);
}
.container .project .project__rent {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}
.container .project .project__rent .project__rent-text {
  max-width: 350px;
}
.container .project .project__rent .project__rent-text .project__rent-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.container .project .project__rent .project__rent-container {
  border: 3px solid var(--accent, #005BC1);
  padding: 30px;
}
.container .project .project__rent .project__rent-container .project__rent-title-block {
  margin-top: 12px;
}
.container .project .project__rent .project__rent-container .project__rent-title-block .project__rent-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.container .project .project__rent .project__rent-container .project__rent-content {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .project .project__rent .project__rent-container .project__rent-content .project__rent-content-text {
  margin-left: 30px;
}
.container .project .project__rent .project__rent-container .project__rent-content .project__rent-content-text .project__rent-content-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--black, #343434);
}
.container .project .project__rent .project__rent-container .project__rent-content .project__rent-content-text .project__rent-list {
  margin-top: 30px;
}
.container .project .project__rent .project__rent-container .project__rent-content .project__rent-content-text .project__rent-item:not(:first-child) {
  margin-top: 30px;
}
.container .project .project__rent .project__rent-container .project__rent-content .project__rent-content-text .project__rent-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--black, #343434);
}
.container .project .project__rent .project__rent-container .project__rent-content .project__rent-image {
  max-width: 255px;
  max-height: 250px;
}
.container .project .news__container {
  margin-top: 77px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .project .news__container .news__semenar .news__semenar-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .project .news__container .news__semenar .news__semenar-title-block .news__semenar-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}