@media only screen and (max-width : 1110px)
	.project, .footer
		padding: 0 20px
@media only screen and (max-width : 992px)
	.project, .footer
		padding: 0 !important
	.section__fon, .header
		width: 100% !important
		background: rgba(0, 91, 193, 0.35) !important
	.section
		margin-left: 100px !important
	.section__title 
		max-width: 550px !important
	.project__section-container
		flex-direction: column !important
		align-items: center !important
	.project__section-box1, .project__section-box2
		max-width: 540px !important
		width: 100% !important
	.project__section-box2
		margin-top: 40px
	.project__grid-container
		display: flex !important
		flex-direction: column
		align-items: center
	.project__grid-item
		max-width: 380px
		width: 100%
	.project__grid-item:not(:first-child)
		margin-top: 40px
	.project__rent
		flex-direction: column-reverse !important
	.project__rent-text
		margin-top: 40px
	.news__container-block
		flex-direction: column
	.news__container
		justify-content: center
	.news__semenarMin:nth-child(2)
		margin-top: 20px
	.news__semenar
		margin-top: 20px
@media only screen and (max-width : 870px)
	.logo
		left: 20px !important
@media only screen and (max-width : 768px)
	.header
		display: none !important
	.logo
		z-index: 6
	.menu-btn
		display: flex !important
	h1
		font-size: 32px !important
	h2
		font-size: 20px !important
	.project__section
		justify-content: center
	.section
		margin-left: 40px !important
	.section__title
		max-width: 350px !important
	.section__subtitle 
		max-width: 350px !important
	.first-grid-title
		height: auto !important
	.project__rent-container
		border: none !important
	.footer__contacts-text
		width: auto !important
	.footer__contacts
		display: flex !important
		flex-direction: column !important
	.footer__menu
		display: none !important
	.footer__line
		display: none !important
	.footer__prava-text
		margin-left: 20px !important
	.footer__prava-text:last-child
		display: none
	.footer__contacts-text:not(:first-child)
		margin-top: 10px


@media only screen and (max-width : 580px)
	.news__semenarMin-image-box
		flex-direction: column !important
		align-items: flex-start !important
	.news__semenarMin-data
		margin-top: 10px
@media only screen and (max-width : 480px)




@media only screen and (max-width : 320px)